/*Btns*/
#btnVoltar, #btnProximo{
    width: 300px;
    height: 300px;
}
#btnVoltar{
    position: relative;
    left: 10%;
}
#btnProximo{
    position: relative;
    left: 100%;
}
/*Fecho*/
#legenda {
    position: relative;
    left: 150px;
}

#imgR{
    width: 1080px;
}

#dica {
    position: relative;
    left: 200px;
    width: 600px;
    height: 400px;
}

.btns{
    display: flex;
    position: relative;
    top: 150px;
}

/*Hovers*/
#dica:hover {
    animation: transicao 3s linear;
}

/*Animacoes*/
@keyframes transicao {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%
    }

    100% {
        opacity: 100%
    }
}